---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Page from './Page.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, image, published, updated } = Astro.props;
---

<Page title={title} description={description}>
	<article class="py-10 space-y-5">
		{image && <img class="w-full h-auto" src={image} alt="" />}

		<div class="space-y-1">
			<div class="flex items-baseline gap-3 text-sm text-gray-500">
				<div><FormattedDate date={published} /></div>
				{updated && (<div>•</div>)}
				{updated && (<div>Updated <FormattedDate date={updated} /></div>)}
			</div>
	
			<h1 class="text-2xl">
				{title}
			</h1>
		</div>

		<div class="prose prose-simple dark:prose-invert prose-headings:font-normal prose-pre:border prose-pre:border-gray-50 dark:prose-pre:border-gray-950">
			<slot />
		</div>

		<hr />

	</article>
</Page>
